nav{
	background-color:silver;
	height:30px;
	width:100%;
}

nav ul li{
	list-style-type:none;
	float:left;
	margin-top:10px;
	margin-left:80px;
}

ul li a{
	 color:white;
	 text-decoration:none;
}

.dropdownlist{
	display:none;
}

.dropdown:hover  .dropdownlist{
	 display:block;
}

.dropdownlist a{
	background-color:silver;
	color:white;
	display:block;
}

